<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce About us</title>
    <link rel="stylesheet" href="ecommerce.css">
</head>
<body>
    <nav>
        <div class="navlink">
        <a href="home.html">Home</a>
        <a href="about_us.html">About Us</a>
        <a href="contact_us.html">Contact Us</a>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi possimus saepe recusandae delectus facere commodi earum nisi cum, exercitationem iusto. Eaque esse omnis quia veritatis labore facere delectus deserunt quis?</p>
</body>
</html>